#jqt{
  #thelist{
    margin:0;
    padding:0;
    li{
      margin:0;
      padding:0;
      height:55px;
      .tag_icon{
        float:left;
        margin:5px;
      }
      .status_icon{
        float:right;
      }
        p{
          font-size:12px;
        }
        .tag{
          color:grey;
          font-size:12px;
        }
        .title{
          font-size:14px;
        }
        .during{
          font-size:10px;
        }
    }
  }
}
